# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# PDF generation
*.aux
*.out
*.lnk
*.bbl
*.blg
*.synctex(busy)
*.synctex.gz

# Databases
**/autos.csv
**/spam.csv
**/app_token.txt

# Literature
_vorbereitung-fuer-den-workshop/Literaturreferenzen/
