# Jupyter Notebook
.ipynb_checkpoints
__pycache__

# Environments
.env
.venv
env/
venv/

# PDF generation
*.aux
*.out
*.lnk
*.bbl
*.blg
*.synctex(busy)
*.synctex.gz
_internal/**.pdf

# Databases
**/.data-preprocessing/
**/autos.csv
**/spam.csv
**/app_token.txt

# Literature
_vorbereitung-fuer-den-workshop/Literaturreferenzen/
*.log
_vorbereitung-fuer-den-workshop/.backup/
.virtual_documents/
*.zip
05-weiterfuehrende-beispiele/maschinelles-sehen/images/
.idea/
.conda-base.tmp
_internal/graphics/nummeriere Bilder.pptx
.conda_path
05-weiterfuehrende-beispiele/maschinelles-sehen/GTSRB_Final_Training_Images/
05-weiterfuehrende-beispiele/raumzeitliche-datenanalyse/i4gi-tjb9/
*/.app_token.txt
*.xlsx
